/* Be consistent with TextBox */
.Select-control{
  border-radius: 0px !important;
}
.Select{
  margin-top: 5px;
  margin-bottom: 5px;
}

.alteryx-checkbox-wrapper{
  margin-left: -5px;
}


div.alteryx-toggle-switch-outer {
  position: absolute;
  right: 3px;
}

#header{
  margin-bottom: 20px;
}
.tabs {
  /**
   * Setting display to flex makes this container lay
   * out its children using flexbox, the exact same
   * as in the above "Stepper input" example.
   */
  display: flex;

  border-bottom: 1px solid #D7DBDD;
}

.tab{
  position: relative;
  display: inline-block;
  padding: 2px 0px;
  font-family: 'Segoe UI';
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  color: black;
  border: 1px solid #D9D9D9;
  background-color: white;
}
.tab.is-tab-selected{
  color: white;
  border: 1px solid #8B8B8B;
  background-color: #1691C6;
}

.pull-right{
  float: right;
}
#advanced, #graphics{
  width: 60px;
}

#intro-div{
  position: fixed;
  bottom: 5px;
  display: hidden;
}
#switch-to-customize{
  position: absolute;
  right: 8px;
  margin-top: 5px;
}
#switch-to-home{
  margin-left: -1px;
  margin-top: 10px;
}
